/*
  File name : Card.module.css 
  Student’s Name : Wai Lung Chan 
  StudentID : 301325509 
  Date : 26-May-2024
*/

/*
  Section Header
  define card class style
*/
.card {
    background-color: black;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }