/*
  File name : Error.module.css 
  Student’s Name : Wai Lung Chan 
  StudentID : 301325509 
  Date : 26-May-2024
*/

/*
  Section Header
  define content class style
*/
.content {
    text-align: center;
  }