.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: normal;
  }

  .list {
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
    margin-left: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }

  img{
    width:60px;
    height: 60px;
  }
  